<!DOCTYPE html>
<html>
	<head>
		<title>Lister</title>
		<link rel="stylesheet" type="text/css" href="/styles/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/styles/bootstrap/bootstrap-theme.min.css">
	</head>
	<body>
		<div class="container">
    <h1>Welcome to Your Lister.</h1>
    <h3>Enter your username: </h3>

    <form action="/user" method="POST">
      <input type ="text" name="name">
      <br></br>
      <input type="submit" class="btn btn-info" value="Enter">
    </form>
	</div>
  </body>
</html>
